[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
selenium = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
webdriver-manager = "*"
sqlalchemy = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.8"
