@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .stroke-dasharray-16 {
        stroke-dasharray: 16px;
    }
    .stroke-dashoffset-16 {
        stroke-dashoffset: 16px;
    }
    .stroke-dashoffset-0 {
        stroke-dashoffset: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
}